@font-face {
   font-family: 'Raleway-Regular';
   font-display: swap;
   src: url('file:///C:/Users/joaog/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-08_074345/fonts/Raleway-Regular/font.ttf');
}
